/* Navbar */

.navbar-responsive {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    transition: .3s all ease-in-out;
    z-index: 1;
}

.navbar-responsive:after {
    content: "";
    z-index: -1;
    left: 0;
    position: absolute !important;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-responsive .navbar-responsive__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
    text-align: center;
    letter-spacing: 2px;
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
    top: 50%;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.navbar {
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.navbar .navbar__wrapper {
    width: 90%;
    margin: 0 auto;
}

.navbar .navbar__wrapper .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.navbar .navbar__wrapper .navbar__menu .navbar__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar .navbar__wrapper .navbar__link a,
.navbar .navbar__wrapper .navbar__brand {
    display: block;
    position: relative;
    padding: 12px;
    color: #777;
    letter-spacing: 0.1em;
    text-decoration: none;
}


.navbar .navbar__wrapper .navbar__brand {
    font-weight: 700;
    font-size: 1.2em;
}

.navbar .navbar__wrapper .navbar__brand img {
    height: 100%;
}

.after-transform a {
    position: relative;
}

.after-transform a:after {
    content: "";
    transition: all .3s ease;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #F41B5E;
    border-radius: 3px;
    transform: scaleX(0) translateZ(0);
    transform-origin: bottom center;
}

.after-transform a.active:after,
.after-transform a:hover:after {
    transform: scaleX(1) translateZ(0);
}

/* Icon 3 */
#nav-icon3 {
    width: 30px;
    height: calc(100%/2);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: none;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #777;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 9px;
}

#nav-icon3 span:nth-child(4) {
    top: 18px;
}

#nav-icon3.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

@media (max-width: 768px) {
    .navbar__nav {
        display: none !important;
    }

    #nav-icon3 span {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .navbar__responsive {
        transform: translate3d(-100%, 0, 0) !important;
    }
}

/* Fin Navbar */




/*########## portfolio #############*/
#portfolio {
    padding: 40px;
}

.title-text {
    text-align: center;
    margin: 50px;
    margin-bottom: 100px;
    font-size: 50px;
}

.work {
    position: relative;
    /*overlay relative to whole box */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    max-height: 310px;
    border-radius: 10px;
    /*round edges */
    margin: 10px 0;
    overflow: hidden;
    /*hides overflows*/
    /* image overlay */
}

#portfolio img {
    display: block;
    width: 100%;
    min-height: 300px;
    opacity: 1;
    transition-delay: opacity 2s ease;
}

#portfolio img:hover {
    opacity: 0.6;
}

.image-overlay {
    position: absolute;
    /*.work is relative to this*/
    bottom: 0;
    /*this makes the text appear */
    left: 0;
    width: 100%;
    height: 100px;
    margin-bottom: -100px;
    /*hides the text - will reapear when hover*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #F41B5E;
    transition: margin 2s ease;

}

.work:hover .image-overlay {
    margin-bottom: 0;
    /*make text appear when hover */
}

.image-text h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    color: #f5f5f5;
}

.image-overlay .fa {
    /* the arrow on the text bar */
    font-size: 30px;
    color: #2b98f0;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 50%;
    transition: transform 2s ease, background 2s ease;
}

.image-overlay .fa:hover {
    transform: translateY(-10px);
    background: #082238;
}

.section-btn {
    /*explore button under pictures*/
    text-align: center;
    margin: 90px 0 10px 0;
}

.section-btn a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    font-size: 30px;
    color: #f5f5f5;
    background: #F41B5E;
    transition: background 2s ease, color 2s ease;
}

.section-btn a:hover {
    color: #F41B5E;
    background: #f5f5f5;
}

.section-btn .fa {
    font-size: 35px;
    margin-right: 10px;
}

/* Portfolio responsive */
@media screen and (min-width: 576px) {
    .portfolio-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .work {
        flex: 0 0 calc(50% -15px);
    }
}

@media screen and (min-width: 776px) {
    .portfolio-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .work {
        flex: 0 0 calc(33.3% -15px);
    }
}

/* responsive grid */

@media screen and (min-width: 576px) {
    .portfolio-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
    }
}

@media screen and (min-width: 992px) {
    .portfolio-center {
        grid-template-columns: repeat(3, 1fr);
    }
}
